# Dependencies
node_modules
.pnpm-store

# Build outputs
# Ignore dist for examples and website, but NOT for workspace packages
examples/*/dist
website/dist

build

# IDE
.idea
.vscode

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local
packages/clickhouse/.env.test

# Testing
coverage

# Misc
.DS_Store
examples/basic-dashboard/src/generated/clickhouse-schema.ts
.turbo
.turbo-build

# Local Netlify folder
.netlify
