---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<button
  onclick="const tooltip = this.querySelector('.tooltip');
    navigator.clipboard.writeText(this.dataset.text);
    tooltip.classList.remove('opacity-0');
    tooltip.classList.add('opacity-100');
    setTimeout(() => {
      tooltip.classList.remove('opacity-100');
      tooltip.classList.add('opacity-0');
    }, 2000);"
  data-text={text}
  class="absolute right-2 top-1/2 -translate-y-1/2 rounded-md p-1.5 text-gray-400 hover:text-gray-200 transition-colors group"
  title="Copy to clipboard"
>
  <div
    class="tooltip absolute -top-8 -left-2 px-2 py-1 rounded bg-gray-900 text-white text-xs opacity-0 transition-opacity duration-200"
  >
    Copied!
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect>
    <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path>
  </svg>
</button>
